body {
  align-items: center;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"],input[type="password"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin button[type="submit"] {
  margin-top: 10px;
}